/*body{
	background-color: black;
	background-image: url("./bkg2.jpg");
	background-size: cover;
	background-position: center;
}*/
.fullscreen-bg {
    position: fixed;
    top: -200px;
    right: 0;
    bottom: 0;
    left: -290px;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg-video {
    position: cover;
    top: 0;
    left: 0;
    width: 117%;
}

*{
	transition: transform .1s;
}

.player{
	background-color: #f1f2f6;
	background-image: linear-gradient(315deg, #ffffff 30%, #b3b0b0 64%);
	border: 1px solid black;
	border-radius: 15px;
	width: 320px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	box-shadow: 0px 0px 0px 2px #f0f0f0;
}

.slider{
	-webkit-appearance: none;
	overflow: hidden;
	border: 0px;
	border-radius: 10px;
	background: #c0c0c0;
	width:216px;
	height:8px;
	margin-left: 52px;
	margin-top: 40px;
}

.slider:active, .slider:focus{
	outline: none;
}

.slider:hover{
	transform: scale(1.1,1.4);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
  	appearance: none;
  	display: block;
  	margin-top: 0px;
  	width: 8px;
 	height: 8px;
  	background: white;
  	border: 1px solid #808080;
  	border-radius: 5px;
  	box-shadow: -260px 0px 0px 256px #a0a0a0;
  	cursor: pointer;
}

.slider:hover::-webkit-slider-thumb{
	-webkit-appearance: none;
}

.player .screen{
	background-color: black;
	border: 1px solid white;
	border-radius: 9px;
	box-shadow: 0px 0px 0px 2px #a0a0a0;
	display: flex;
	flex-direction: column;
	width: 256px;
	height: 160px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.player .img{
	display: flex;
	max-width: 90%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.name{
	font-size: 15px;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
  	flex-flow: <'flex-direction'>;
  	justify-content: center;
  	align-items: center;
  	margin-left: 10px;
  	margin-right: 10px;
}

.name .title{
	font-size: 27px;
	font-family: 'Ranchers', cursive;
	margin-right: 10px;
	margin-left: 10px;
}

.name.sec{
	margin-top: 5px;
}

.player .btn-align{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
  	flex-flow: <'flex-direction'>;
  	justify-content: center;
  	align-items: center;
}

.player .btn-align *{
	margin-left: 15px;
	margin-right: 15px;
}

.player .btn-align *:hover{
	transform: scale(1.4);
}

.player .btn-align *:focus{
	outline: none;
}

.player .btn-align *:active{
	outline: none;
	transform: scale(1.15);
}

.smallbtn{
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
}

.largebtn{
	background-size: 30px 30px;
	height: 30px;
	width: 30px;
}